<div class="row">
  <a href="#" class="btn btn-lg btn-info active" type="button">Accept</a>
  <a href="#" class="btn btn-lg btn-info active" type="button">Reject</a>
</div>
<!--some test content-->
<div class="jumbotron well">
  <h2>Lorem Ipsum is simply dummy text of the printing and typesetting</h2>

  <p>Lorem Ipsum is simply dummy text of the printing and typesetting. Contrary to popular belief, Lorem Ipsum is not
    simply random text.There are many variations of passages of Lorem Ipsum available, but the majority have suffered
    alteration in some form.</p>

  <p><a class="btn btn-primary btn-large" href="#">Learn more</a></p>
</div>

<!--login ajax-->
<script type="text/javascript">
    $(document).ready(function () {
        $('#signfreeForm').on('submit', function (e) {
            e.preventDefault();
            var emailflag = false;
            var validateLength = $('.form-control').length;
            var mail_exits = "Your details already exist on the system";
            var count = 0;
            $('.form-control').each(function () {
                if ($(this).val() == '') {
                    count += 1;
                }
            });
            if (count != 0 && emailflag == false) {
                if ($("#exampleInputEmail1").val() != "") {
                    var reg = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
                    if (reg.test($("#exampleInputEmail1").val()) == false) {
                        alert("Please enter valid Email-id.");
                        $("#exampleInputEmail1").focus();
                    }
                    else {
                        emailflag = true
                        if (emailflag) {
                            alert("Fields marked with a red asterisk* are mandatory");
                            $("#exampleInputName").focus();
                        }
                    }
                }
                else {
                    alert("Fields marked with a red asterisk* are mandatory");
                    $("#exampleInputName").focus();
                }
            }
            else {
                $.ajax({
                    url: '/users/verify_login',
                    type: 'POST',
                    data: $('#signfreeForm').serialize(),
                    dataType: 'json',
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
                        $("#loading_indicator_home").show();
                        $('.inner_lt').hide();
                    },
                    success: function (data) {
                        alert(data.message);
                        if (typeof data.redirect_url != "undefined" && data.redirect_url != "") {
                            window.location.href = data.redirect_url;
                        }
                    }
                });
            }
        });
    });
</script>
